.container{
    width: 100%;
    height: 100%;
}
.open{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 2s ease-in;
}
.open_container{
    display: flex;
    align-items: baseline;
    padding: 0 0 0.5rem;
}

/* Open */
.open_text, .open_word{
    color: #101010;
    font-size: 2.4rem;
    text-transform: uppercase;
    padding: 0 1rem 0;
    font-weight: 400;
}
.open_word{
    padding: 0;
    font-weight: 600;
    font-size: 2.8rem;
    transition: all 0.2s;
    animation: 2s animate 10s infinite alternate;
}
@keyframes animate {
    20%{
        opacity:1
    }
    22%{
        opacity:0.8
    }
    23%{
        opacity:1
    }
    25%{
        opacity:0.3
    }
    26%{
        opacity:1
    }
}
 
.order_below{
    color: #101010;
    font-size: 2.2rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0 1.5rem 0.5rem;
    text-align: center;
    letter-spacing: 0.1rem;
    margin-top: 0.5rem;
}
.opening_times{
    color: #101010;
    font-size: 1.9rem;
    font-weight: 400;
    text-align: center;
    margin: 1rem 0 0;
    line-height: 2.3rem;
}
@media screen and (min-width:480px){
    .open_text{
        font-size: 3.5rem;
    }
    .open_word{
        font-size: 3.7rem;
    }
    .order_below{
        font-size: 3.5rem;
        margin: 2rem 2rem 0.5rem;
        width: 60%;
        letter-spacing: 0.2rem;
    }
    .opening_times{
        font-size: 2.5rem;
        line-height: 3rem;
        margin: 1.5rem 0 1rem;
    }
}
@media screen and (min-width:768px){
    .open_text{
        font-size: 3.2rem;
    }
    .open_word{
        font-size: 3.5rem;
    }
    .opening_times{
        font-size: 2.5rem;
        line-height: 3rem;
        margin: 2rem 0 1.5rem;
    }
}
@media screen and (min-width:1024px){
    .opening_times{
        font-size: 2rem;
    }
}
@media screen and (min-width:1350px){
    .opening_times{
       font-size: 1.9rem;
       line-height: unset;
       margin: 1rem 0 0;
       font-weight: 500;
    }
    .open_text{
        font-size: 2.6rem;
    }
    .open_word{
        font-size: 2.8rem;
    }
    .order_below{
        font-size: 3rem;
        margin: 3rem 0 0;
    }
}

/* * Offline */

.offline_notice_container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.offline_notice{
    font-size: 1.5rem;
    color: #101010;
    text-align: center;
    line-height: 2rem;
    font-weight: 400;
}
.deliveryContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.justeat, .deliveroo{
    color: #101010;
    text-align: center;   
    font-size: 3.3rem;
    text-transform: uppercase;
    margin: 1rem 0 0;
    font-weight: 900;
    letter-spacing: 0.1rem;
    word-spacing: -1.5rem;
    font-style: oblique;
    cursor: pointer;
    z-index: 5;
    color: #ff9100;
}
.deliveroo{
    font-style: normal;
    margin: 0.5rem 0 0;
    color: #00CDBC;
}
.justeat:hover, .deliveroo:hover{
    transform: scale(1.01);
    color: #101010;
}
/* .deliveroo:hover{
    transform: scale(1.01);
} */
.noDel{
    font-size: 1.5rem;
    width: 60%;
    text-align: center;
    text-transform: capitalize;
    color: var(--text--dark-red);
}
.offline{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: var(--text--dark-red);
}
@media screen and (min-width:480px){
    .offline_notice_container{
        width: 410px;
    }
    .offline_notice{
        font-size: 2rem;
        line-height: 2.3rem;
        margin: 0.2rem 0 0;
    }
    .deliveroo, .justeat{
        font-size: 4rem;
        margin: 1.5rem 0 0;
    }
}
@media screen and (min-width:769px){
    .offline_notice_container{
        width: 500px;
    }
    .offline_notice{
        font-size: 2.2rem;
        line-height: 2.6rem;
    }
    .deliveroo, .justeat{
        font-size: 4rem;
    }
}
@media screen and (min-width:1200px){
   .deliveryContainer{
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
   }
}
@media screen and (min-width:1350px){
  .justeat, .deliveroo{
    font-size: 3rem;
    font-weight: 700;
    margin: 1rem 0 0;
  }
  .offline_notice{
    font-size: 1.7rem;
}
}

/* Icons */

.icon{
    fill: #101010;
    width: 40px;
    height: unset;
    aspect-ratio: 1/1;
    margin: 0 0 0.5rem 0;
}
@media screen and (min-width:768px){
    .icon{
        width: 45px;
        margin: 0 0 1rem;
    }
}
@media screen and (min-width:1200px){
    .icon{
        width: 60px;
        margin: 1rem;
    }
}
@media screen and (min-width:1350px){
    .icon{
        width: 45px;
        margin: 0 0 1rem;
    }
}

/* Notice */

.notice_container{
    width: 80%;
    margin: 2rem 0;
    border-radius: 100px;
    padding: 0.8rem 0;
    border: 0.1px solid var(--bg-color--blue);
    background-color: #101010;
    z-index: 80;
}
.notice_hdr{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: var(--text--dark-red);
}
.notice{
    font-size: 1.3rem;
    line-height: 2rem;
    padding: 0.5rem 2rem 0.5rem;
    text-align: center;
    color: #fff;
    animation: animate4 4s infinite alternate;
    text-shadow: 0 0 30px var(--bg-color--blue);
}
@keyframes animate4 {
    50%{
        opacity:1
    }
    52%{
        opacity:0.8
    }
    53%{
        opacity:1
    }
    55%{
        opacity:0.3
    }
    56%{
        opacity:1
    }
}
@media screen and (min-width:480px){
    .notice{
      font-size: 1.8rem;
    }
    .notice_container{
        width: 70%;
        max-width: 350px;
    }
    .notice_hdr{
        font-size: 2rem;
    }
}
@media screen and (min-width:769px){
    .notice_container{
        padding: 0.5rem 3rem;
        border-radius: 40px;
        width: 400px;
    }
    .notice{
      font-size: 1.7rem;
      padding: 0.5rem 0.5rem 1rem;
    }

    .notice_hdr{
        font-size: 2.3rem;
        padding: 0.8rem 0 0.5rem;
    }
}
@media screen and (min-width:1024px){
    .notice_container{
        padding: 0.5rem 2rem;
        margin: 2rem 0;
    }
    .notice{
      font-size: 1.6rem;
      line-height: unset;
    }

    .notice_hdr{
        font-size: 2rem;
        padding: 0.8rem 0 0.5rem;
    }
}
@media screen and (min-width:1350px){
    .notice_container{
        margin: 1.5rem 0 0;
    }
    .notice{
      font-size: 1.5rem;
    }
    .notice_hdr{
        font-size: 1.8rem;
    }
}


