.container {
    position: relative; /* Required for the pseudo-element */
    background-color: #111;
  }
  
  .container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../public/img/logo-light.svg");
    background-size: 70px 45px;
    opacity: 0.1;
    background-repeat: repeat;
    background-position: center top;
  }
  @media screen and (min-width: 480px) {
    .container::after{
      background-size: 100px 65px;   
    }
  }