.container {
    position: relative; 
    background: var(--color-offBlack);
    height: 100px;
  }
  
  .container::after {
    content: "";
    position: absolute;
    /* margin-top: 50px; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../public/img/burger.webp");
    background-size:contain;
    /* opacity: 0.08; */
    background-repeat: no-repeat;
    background-position: center top;
  }
