.container, .iconContainer{
    background-color: #101010;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 997;
}
.hdr{
    font-size: 2.1rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 0.5rem 0 0.2rem;
    width: 100%;
    font-weight: 400;
    border: 0;
}
.storesContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    width: 100%;
    margin: 0.5rem 0;
}
.storeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.storeTitle{
    color: #fff;
    font-size: 1.5rem;
    padding: 0 0 0.5rem;
    font-weight: 500;
}
.icon{
    width: 27px;
    height: unset;
    aspect-ratio: 1/1;
    fill: #fff;
    margin: 0 0 1rem;
}
@media screen and (min-width:480px){
    .hdr{
        font-size: 2.5rem;
    }
    .icon{
        width: 40px;
        margin: 0.3rem  0 1rem;
    }
    .storeTitle{
        font-size: 1.9rem;
    }
}
@media screen and (min-width:769px){
    .storeTitle{
        font-size: 2.5rem;
        font-weight: 400;
    }
    .icon{
        width: 55px;
    }
    .hdr{
        font-size: 2.8rem;
        margin: 1rem 0 0.5rem;
    }
}
@media screen and (min-width:1024px){
    .storeTitle{
        font-size: 2.2rem;
        font-weight: 400;
    }
}

/* Hover */

.storeContainer:hover .iconContainer .icon{
    fill: var(--bg-color--blue);
}
.storeContainer:hover .storeTitle{
    color: var(--bg-color--blue);
}

