.container, .leftContainer, .rightContainer, .contentContainer, .leftSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-gray);
}
.container{
    padding: 1rem 1rem 2rem;
}
.hdr{
    font-size: 2.6rem;
    font-weight: 400;
    margin: 0.2rem 0.5rem 0.5rem;
    color: #101010;
    font-family: 'Lust-Script';
}
.text{
    font-size: 1.1rem;
    margin: 0 0 1rem;
    text-align: center;
}
.infoText{
    text-align: center;
    font-size: 1rem;
    line-height: 1.4rem;
    text-underline-offset: 0.2rem;
}
.noticeHdr{
    margin: 1.2rem 0 0.3rem;
    font-size: 1.2rem;
    text-align: center;
}
@media screen and (min-width:480px){
    .leftContainer{
        width: 90%;
    }
    .text{
        font-size: 1.4rem;
    }
    .infoText{
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    .noticeHdr{
        font-size: 1.4rem;
    }
    .hdr{
        font-size: 2.8rem;
    }
}
@media screen and (min-width:769px){
    .leftContainer{
        width: 80%;
    }
    .text{
        font-size: 2rem;
        margin: 0.5rem 0 1.5rem;
    }
    .infoText{
        font-size: 1.6rem;
        line-height: 2.2rem;
        margin: 0 0 0.5rem;
    }
    .noticeHdr{
        font-size: 1.9rem;
        margin: 2rem 0 1rem;
    }
    .hdr{
        font-size: 3.2rem;
        margin: 0.5rem 0 1rem;
    }
}
@media screen and (min-width:1024px){
    .leftContainer{
        width: 62%;
        gap: 3rem;
    }
    .rightContainer{
        width: 38%;
        justify-content: flex-start;
        height: 100%;
        margin-top: -0.8rem;
    }
    .text{
        font-size: 2.2rem;
        margin: 0.5rem 0 1.5rem;
    }
    .infoText{
        font-size: 1.5rem;
        line-height: 2.2rem;
        margin: 0 0 0.5rem;
    }
    .noticeHdr{
        font-size: 2rem;
        margin: 0 0 1rem;
    }
    .hdr{
        font-size: 3.4rem;
        margin: 1rem 0 1rem;
    }
    .contentContainer{
        flex-direction: row;
        align-items: flex-start;
        width: 92%;
        gap: 3rem;
        margin: 2rem 0 1rem;
    }
}
@media screen and (min-width:1200px){
    .infoText{
        font-size: 1.8rem;
        line-height: 2.8rem;
        margin: 0 0 0.5rem;
    }
}
@media screen and (min-width:1350px){
   .contentContainer{
    width: 85%;
    gap: 5rem;
    align-items: center;
    justify-content: space-evenly;
    margin: 3rem 0;
   }
   .leftContainer{
    width: 50%;
   }
   .infoText{
    font-size: 1.5rem;
   }
   .rightContainer{
    margin-top: 0;
   }
   .text{
    font-size: 1.8rem;
   }
   .mapContainer{
    
   }
}
