.container, .contentContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-gray);
}
.container{
    padding: 1rem 1rem 2rem;
}
.hdr{
    font-size: 2.6rem;
    font-weight: 400;
    margin: 0.2rem 0.5rem 0.5rem;
    color: #101010;
    font-family: 'Lust-Script';
}
.text{
    font-size: 1.1rem;
    margin: 0 0 1rem;
    text-align: center;
}
.infoText{
    text-align: center;
    font-size: 1rem;
    line-height: 1.4rem;
    text-underline-offset: 0.2rem;
}
.noticeHdr{
    margin: 1.2rem 0 0.3rem;
    font-size: 1.2rem;
    text-align: center;
}
@media screen and (min-width:480px){
    .contentContainer{
        width: 90%;
    }
    .text{
        font-size: 1.4rem;
    }
    .infoText{
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    .noticeHdr{
        font-size: 1.4rem;
    }
    .hdr{
        font-size: 2.8rem;
    }
}
@media screen and (min-width:769px){
    .contentContainer{
        width: 80%;
        padding-bottom: 2rem;
    }
    .text{
        font-size: 2rem;
        margin: 0.5rem 0 1.5rem;
    }
    .infoText{
        font-size: 1.6rem;
        line-height: 2.2rem;
        margin: 0 0 0.5rem;
    }
    .noticeHdr{
        font-size: 1.9rem;
        margin: 2rem 0 1rem;
    }
    .hdr{
        font-size: 3.2rem;
        margin: 0.5rem 0 1rem;
    }
}
@media screen and (min-width:1024px){
    .contentContainer{
        width: 75%;
        padding: 0 0 2rem;
    }
    .text{
        font-size: 2.2rem;
        margin: 0.5rem 0 1.5rem;
    }
    .infoText{
        font-size: 1.8rem;
        line-height: 2.5rem;
        margin: 0 0 0.5rem;
    }
    .noticeHdr{
        font-size: 2.2rem;
        margin: 2rem 0 1rem;
    }
    .hdr{
        font-size: 3.4rem;
        margin: 1rem 0 1rem;
    }
}
@media screen and (min-width:1200px){
    .infoText{
        font-size: 1.8rem;
        line-height: 2.8rem;
        margin: 0 0 0.5rem;
    }
}
