.container, .hdrContainer, .contentContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hdrContainer{
    background-color: #5c5c5c;
    padding: 1rem 0 0.5rem;
}
.hdr{
    font-size: 2.3rem;
    font-weight: 400;
    color: rgb(231, 249, 255, 0.8);
    font-family: 'Lust-Script';
}
.contentContainer{
    padding: 0.5rem 1rem 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contentContainer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../public/img/burgerbox-logo_dark.svg");
    background-size: 30px 20px;
    opacity: 0.05;
    z-index: 1;
    background-repeat: repeat;
    background-position: center top;
  }
  .topContainer, .descContainer, .subHdrContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .descContainer{
    margin: 1rem 0;
  }
  .svgContainer{
    width: 35px;
    height: unset;
    aspect-ratio: 1/1;
  }
.contentHdr{
    font-size: 1.8rem;
    text-align: center;
    font-weight: 400;
    padding: 1rem 0 0.5rem;
    text-transform: capitalize;
    color: #393939;
    letter-spacing: -0.1rem;
}
.imgsContainer{
    display: flex;
    align-items: center;
    margin: 2rem 0 1rem;
}
.imgContainer{
    position: relative;
    width: 65px;
    height: 65px;
}
.img{
    position: absolute;
}
.infoText{
    text-align: center;
    font-size: 1.3rem;
    padding: 1rem 3rem;
}
@media screen and (min-width: 480px){
    .hdr{
        font-size: 3.5rem;
    }
    .descContainer{
        margin: 1rem 0 2rem;
    }
    .contentHdr{
        font-size: 2.3rem;
        margin: 1rem 0 0.5rem;
    }
    .svgContainer{
        width: 45px;
    }
    .infoText{
        padding: 1rem 5rem;
        font-size: 1.8rem;
    }
    .imgContainer{
        width: 100px;
        height: 100px;
    }
    .imgsContainer{
        margin: 1rem 2rem 2rem;
    }
    .topContainer{
        display: flex;
        align-items: center;
        margin: 0 10vw;
    }
}
@media screen and (min-width: 769px){
    .contentHdr{
        font-size: 2.5rem;
    }
    .svgContainer{
        width: 45px;
    }
    .infoText{
        font-size: 2rem;
        padding-bottom: 2.5rem;
    }
}
@media screen and (min-width: 1024px){
    .infoText{
        padding: 1rem 3rem 3rem;
        width: 70%;
    }
    .contentHdr{
        font-size: 2.7rem;
        margin: 1.5rem 0 1rem;
    }
    .svgContainer{
        width: 50px;
    }
    .imgContainer{
        width: 120px;
        height: 120px;
    }
}
@media screen and (min-width: 1350px){
    .hdr{
        font-size: 3.5rem;
    }
    .infoText{
        padding: 2rem 3rem 2.5rem;
        width: 70%;
        font-size: 1.8rem;
    }
    .contentHdr{
        font-size: 2.5rem;
        margin: 1.5rem 0 0.5rem;
    }
    .svgContainer{
        width: 55px;
    }
    .imgContainer{
        width: 110px;
        height: 110px;
    }
    .contentContainer{
        margin: 0;
    }
    .imgsContainer{
        margin: 1rem 0 2rem;
    }
}