/* Containers */

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 0 2rem;
}
.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}
.deliver_container{
    display: flex;
    padding: 1rem 0 2rem;
    align-items: center;
}
.delivery_costs_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.details_container{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 2rem 1rem;
    width: 100%;
    align-items: center;
}
 
@media screen and (min-width:1024px){
    .details_container{
        padding: 1rem 2rem;
        margin: 1rem 0 2rem;
        padding: 1rem 0;
        border-radius: 20px;
        height: 300px;
        overflow-y: auto;
        border: 1px solid;
        width: 70%;
        background-color: #fff;
    }
    .deliver_container{
        padding: 0 0 1rem;
    }
    .wrapper{
        padding: 2.5rem 0;
    }
}
@media screen and (min-width:1200px){
    .container{
        width: 100%;
    }
}
    

/* Headrers */

.hdr{
    font-size: 2.8rem;
    padding: 2rem;
}
.title{
    font-size: 2.7rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin: 0 0 2rem;
    font-weight: 300;
}

/* DEl/Col Times */
.time_hdr{
    margin: 0.2rem 0;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--text--dark-red);
}
@media screen and (min-width:480px){
    .time_hdr{
        font-size: 1.5rem;
    }

}
@media screen and (min-width:1024px){
    .time_hdr{
        font-size: 1.4rem;
    }
    .time{
        font-size: 1.5rem;
    }
    .title{
        font-size: 3rem;
        font-weight: 300;
    }
}


/* Info */

.total{
    font-size: 2.5rem;
    padding: 1.5rem;
    border-top: 1px solid #101010;
    border-bottom: 1px solid #101010;
    margin: 0 0 2rem;
    letter-spacing: -0.2rem;
    text-transform: uppercase;
}
.costs_hdr{
    font-size: 2rem;
    margin: 0 0 1rem;
    font-weight: 500;
    text-decoration: underline 1px var(--bg-color--blue);
    text-underline-offset: 0.1rem;
}
.costs{
    font-size: 1.3rem;
    margin: 0 0 0.5rem;
}
.text{
    font-size: 1rem;
    margin: 1rem 0;
    font-weight: 300;
    color: var(--text--dark-red);
    text-align: center;
    width: 60%;
}
.or{
    font-size: 2rem;
    margin: 0 1rem;
}
.del_unavialable{
    margin: 0 2rem 0 0;
    color: var(--text--dark-red);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    border: 2px dashed;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
}
@media screen and (min-width:480px){
    .del_unavialable{
        font-size: 2rem;
    }
    .costs_hdr{
        font-size: 2.2rem;
    }
    .costs{
        font-size: 1.4rem;
    }
    .text{
        font-size: 1.2rem;
    }
}
@media screen and (min-width:769px){
    .text{
        font-size: 1.3rem;
    }
    .costs_hdr{
        font-size: 2.3rem;
    }
    .costs{
        font-size: 1.5rem;
    }
}
@media screen and (min-width:1024px){
    .text{
        margin: 1rem 0 0;
    }
    .costs_hdr{
        margin: 0.5rem 0 1.5rem;
    }
}


/* Details Inputs */

.details_label{
    font-size: 1.8rem;
    width: 100%;
}
.details_input{
    margin: 0.5rem 0 1.5rem;
    font-size: 1.5rem;
    padding: 0.8rem 0.5rem;
    border-radius: 10px;
    background-color: rgb(231, 249, 255);
    border: 1px solid;
}
.details_input::placeholder, .details_input_postcode::placeholder{
    font-family: 'Inconsolata', monospace;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.postcode_container{
    display: flex;
    align-items: baseline;
    width: 100%;
}
.postcode_text{
    font-size: 2.3rem;
    flex: 1;
    margin-right: 0.5rem;
}
.details_input_postcode{
    font-size: 1.5rem;
    padding: 0.8rem 0.5rem;
    border-radius: 10px;
    width: 70%;
    background-color: rgb(231, 249, 255);
    border: 1px solid;
    margin: 0.5rem 0.3rem 1.5rem;
}
.instructions{
    font-size: 1.5rem;
    padding: 0.8rem 0.5rem;
    width: 100%;
    border-radius: 10px;
    height: 70px;
    margin: 0.5rem 0 1.4rem;
    background-color: rgb(231, 249, 255);
}
.delivery_costs{
    font-size: 1.8rem;
    font-weight: 300;
    margin: 0 0 2rem;
}
.details_input, .details_input_postcode, .instructions{
    width: 80%;
}
@media screen and (min-width:480px){
    .details_input, .details_input_postcode, .instructions{
        width: 250px;
    }
}
@media screen and (min-width:1024px){
    .details_label{
        text-align: center;
        font-size: 1.5rem;
        margin: 0;
    }
    .details_input, .details_input_postcode{
        padding: 0.5rem;
        font-size: 1.4rem;
        width: 60%;
        margin: 0.5rem 0 1rem;
        border-radius: 7px;
    }
    .postcode_text{
        font-size: 1.4rem;
    }
    .details_input_postcode{
        margin-right: 0.3rem;
    }

    .instructions{
        width: 60%;
        min-height: 70px;
        border-radius: 7px;
        font-size: 1.4rem;
        padding: 0.5rem;
        margin: 0.5rem 0 1rem;
    }
    .details_input, .details_input_postcode, .instructions{
        width: 60%;
    }
}

/* Buttons */
.checkoutBtn{
    opacity: 0.9;
    box-shadow: 0 0 4px #6a6969;
    cursor: pointer;
    background-color: #fff;
    font-weight: 300;
    text-transform: capitalize;
    color: #101010;
    border-radius: 7px;
    border: 0;
    transition: all 0.1s;
    font-size: 2.2rem;
    padding: 0.7rem 1rem;
    letter-spacing: 0.2rem;
    z-index: 777;
}
.btn_collection, .btn_deliver{
    font-size: 1.7rem;
    padding: 0.7rem;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: #fff;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid;
}
.checkoutBtn:hover{
    transform: scale(1.01);
    opacity: 1;
    color: var(--text--light-green);
}
.btn_deliver:hover, .btn_collection:hover{
    transform: scale(1.01);
    opacity: 1;
}

@media screen and (min-width:769px){
    .checkoutBtn{
        font-size: 2.4rem;
    }
}
@media screen and (min-width:1024px){
    .btn_deliver, .btn_collection{
        font-size: 1.5rem;
    }
    .checkoutBtn{
        font-size: 2.2rem;
    }
}
@media screen and (min-width:1200px){
    .btn_container{
        width: 35%;
    }
}