.container{
    min-height: 90vh;
    padding: 80px 0 0;
    position: relative;
}
.container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../public/img/burgerbox-logo_dark.svg");
    background-size: 70px 45px;
    opacity: 0.05;
    z-index: -1;
    background-repeat: repeat;
    background-position: center top;
  }
.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}
.hdr{
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem 0;
    border: 1px solid var(--bg-color--blue);
    padding: 0.5rem 1rem;
    border-radius: 7px;
    background-color: #fff;
    text-transform: uppercase;
}
.text{
    text-align: center;
    font-size: 1.3rem;
    color: rgb(69, 68, 68);
    margin: 1rem 0 2rem;
    font-weight: 300;
}
.formWrapper, .form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    width: 100%;
}
.formWrapper{
    margin: 1.5rem 0;
    border: 1px solid var(--bg-color--blue);
    box-shadow: 0 0 20px 5px var(--bg-color--blue);
    background-color: rgb(255, 255, 255);
    width: 80%;
    padding: 2rem 0 2.5rem;
    border-radius: 5px;
}
.contactHdr{
    margin:  0 0 2rem 0;
    font-size: 1.5rem;
    font-weight: 400;
}
.label{
    font-size: 1.3rem;
    margin: 0 0 0.5rem;
    color: #595959;
}
.inputField, .textArea{
    border-radius: 3px;
    border: none;
    background-color: var(--bg-color--blue);
    color: #595959;
    padding: 0.2rem;
    width: 70%;
}
.inputField{
    margin: 0 0 1rem;
}
.textArea{
    margin: 0 0 2rem;
    height: 5rem;
    font-size: 1rem;
}
.btn{
    box-shadow: 0 0 3px #6a6969;
    cursor: pointer;
    background-color: #fff;
    font-weight: 300;
    text-transform: capitalize;
    color: #101010;
    border-radius: 3px;
    border: 0;
    transition: all 0.1s;
    font-size: 1.2rem;
    padding: 0.5rem 0.7rem;
    letter-spacing: 0.2rem;
    z-index: 777;
    opacity: 0.9;
}
@media screen and (min-width:380px) {
    .formWrapper{
        width: 250px;
        margin: 2rem 0 0;
        padding: 2rem 0 3rem;
    }
    .text{
        width: 75%;
    }
}
@media screen and (min-width:480px) {
    .container{
        padding: 110px 0 60px;
    }
    .hdr{
        font-size: 3rem;
    }
    .text{
     font-size: 1.5rem;   
    }
    .contactHdr{
        font-size: 2rem;
        font-weight: 300;
    }
    .label{
        font-size: 1.5rem;
    }
    .inputField, .textArea{
        padding: 0.5rem;
    }
    .inputField{
        margin: 0 0 1.5rem;
    }
    .btn{
        font-size: 1.4rem;
    }
    .textArea{
        height: 6rem;
        width: 70%;
        margin: 0 0 2.5rem;
    }
}
@media screen and (min-width:769px) {
    .container{
        padding: 100px 0 70px;
    }
    .formWrapper{
        width: 400px;
    }
    .text{
        font-size: 1.8rem;
        width: 70%;
        margin: 1rem 0 3rem;
    }
    .inputField{
        width: 55%;
    }
    .textArea{
        width: 60%;
    }
    .label{
        margin: 0.5rem 0 0.7rem;
    }
    .btn{
        font-size: 1.7rem;
        margin: 1rem 0;
    }
}
@media screen and (min-width:1024px) {
    .hdr{
        font-size: 3.2rem;
        padding: 1.8rem 2rem;
    }
    .text{
        font-size: 2rem;
        margin: 1.8rem 0 3rem;
    }
    .container{
        padding: 105px 0 40px;
    }
    .formWrapper{
        width: 450px;
    }
    .inputField{
        width: 50%;
    }
    .textArea{
        width: 60%;
        font-size: 1.2rem;
    }
    .container{
        padding: 110px 0 80px;
    }
    .contactHdr{
        font-size: 2.2rem;
    }
    .btn{
        font-size: 2rem;
    }
    .label{
        font-size: 1.8rem;
    }
}
.btn:hover{
    transform: scale(1.01);
    opacity: 1;
    color: var(--text--light-green);
 }