.container{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 0 0;
    outline: none;
    border: 0;
    margin: 0 0 -8px;
}
.title_container{
    margin: 1rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem 2rem 3rem;
    text-align: center;
}
.header{
    color: #fff;
    background-color: #101010;
    font-size: 1.3rem;
    z-index: 777;
    border-radius: 10px;
    padding: 0.5rem 0.8rem;
    margin: 5.5rem 0 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    line-height: 2.5rem;
    transition: all 0.2s;
    animation: 3s animate 10s infinite alternate;
    font-display: block;
    box-shadow: 0 0 15px #605e5e;
}
.title, .blink{
    color: #101010;
    font-weight: 400;
    /* line-height: 4.5rem; */
    transition: all 0.2s;
    animation: animate2 3s infinite alternate;
    font-family: 'Lust Script Display';
    text-shadow: 0 0 10px #605e5e;
}
@keyframes animate {
    40%{
        opacity:1
    }
    42%{
        opacity:0.8
    }
    43%{
        opacity:1
    }
    45%{
        opacity:0.4
    }
    46%{
        opacity:1
    }
}
@keyframes animate2 {
    70%{
        opacity:1
    }
    72%{
        opacity:0.8
    }
    73%{
        opacity:1
    }
    75%{
        opacity:0.3
    }
    76%{
        opacity:1
    }
}

.title{
    font-size: 4.7rem;
}

.blink{
    animation: blinker 1s linear infinite;
    margin: 1rem 0 0.2rem 0.5rem;
    font-size: 3.2rem;
    font-weight: 300;

}
@keyframes blinker{
    75%{opacity:0};
    100%{opacity: 100%};
}

@media screen and (min-width:380px){
    .title{
        font-size: 5.5rem;
    }
}
@media screen and (min-width:480px){
    .container{
        padding: 90px 0 0;
    }
    .title{
        font-size: 6.5rem;
        letter-spacing: 0.1rem;
    }
    .blink{
        font-size: 4rem;
    }
    .header{
        font-size: 1.7rem;
        padding: 0.8rem;
    }
    .title_container{
        margin: 1.2rem 0 1rem 0;
    }
}
@media screen and (min-width:768px){
    .container{
        padding: 100px 0 0;
    }
    .title{
        font-size: 7.5rem;
        font-weight: 500;
        letter-spacing: 0.4rem;
    }
    .blink{     
        font-size: 6rem;   
        letter-spacing: 0.2rem;
        margin: 1.5rem 0 0.8rem 1.5rem;
    }
    .title_container{
        margin: 1rem 0 1.5rem 0;        
    }
    .header{
        font-size: 1.6rem;
        padding: 1rem;
    }
}
@media screen and (min-width:1024px){
    .header{
        font-size: 1.7rem;
        margin: 4rem 0 1rem;
        padding: 0.8rem 1.7rem;
    }
    .title_container{
        margin: 0 0 0.5rem;
    }
    .container{
        padding: 80px 0 0;
    }
}
@media screen and (min-width:1200px){
    .title{
        font-size: 11rem;
   
    }
    .blink{
        font-size: 7rem;
        margin-bottom: 0;
    }
    .title_container{
        margin: 3.5rem 0 3rem;  
        height: 150px;
    }
    .header{
        font-size: 2rem;
        padding: 1.5rem;
        margin: 5rem 0 0rem;
    }
}
@media screen and (min-width:1350px){
    .title{
        font-size: 8.5rem;
    }
    .blink{
        font-size: 6rem;
        margin-bottom: 0.5rem;
    }
    .title_container{
        margin: 1.5rem 0 1.5rem;  
    }
    .header{
        font-size: 1.6rem;
        padding: 0.6rem 1.2rem;
        margin: 4rem 0 0;
    }
    .container{
        padding: 80px 0 0;
    }
}
