/* Info */

.unavailable{
    color: rgb(123, 0, 0);
    font-size: 2rem;
}
.text{
    font-size: 1rem;
    cursor: pointer;
}
@media screen and (min-width:480px){
    .text{
        font-size: 1.3rem;
        font-weight: 500;
    }
}
@media screen and (min-width:769px){
    .text{
        font-size: 1.4rem;
        font-weight: 500;
    }
}
@media screen and (min-width: 1024px){
    .text{
        font-size: 1.3rem;
        font-weight: 500;
    }
}

/* Image */

.img_container{
    position: absolute;
}

.img{
    width: 20px;
    aspect-ratio: 1/1;
    position: relative;
}

/* Buttons */
.btn_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn_container>*{
    font-size: 0.7rem;
    border-radius: 5px;
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 2px;
    padding: 0.5rem 0.2rem;
    background-color: #fff;
    cursor: pointer;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
    opacity: 0.7;
    font-weight: 500;
    width: 100%;
}
.btnUpgradeSection{
    font-size: 0.6rem;
    border-radius: 5px;
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 2px;
    padding: 0.5rem 0.3rem;
    background-color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    opacity: 0.7;
    font-weight: 500;
    width: fit-content;
}
.btn_delete{
    color: var(--btn--del);
    }

.btn_edit{
    color: var(--btn--edit);
}
.btn_show{
  font-size: 1rem;
  border-radius: 5px;
  border: 0.5px solid;
  background-color: #fff;
  padding: 0.4rem 0.3rem;
  text-transform: lowercase;
  font-weight: 500;
  cursor: pointer;
  margin: 0.3rem;
  letter-spacing: 0.05rem;
}
.btn_container>*:hover, .btn_show:hover, .btnUpgradeSection:hover{
    transform: scale(1.02);
    opacity: 1;
}
@media screen and (min-width:380px){
    .btn_container>*{
        width: 80%;
    }
}
@media screen and (min-width:480px){
    .btn_show{
        font-size: 1.3rem;
    }
    .btn_container>*{
        font-size: 0.8rem;
        width: 85%;
    }
    .btnUpgradeSection{
        font-size: 0.8rem;
    }
}
@media screen and (min-width:769px){
    .btn_show{
        font-size: 1.3rem;
    }
    .btn_container>*{
        font-size: 1rem;
        width: 7rem;
    }
    .btnUpgradeSection{
        font-size: 1rem;
    }
}
@media screen and (min-width:1024px){
    .btn_show{
        font-size: 1.1rem;
        padding: 0.5rem 0.4rem;
    }
    .btn_container>*{
        font-size: 0.8rem;
        width: 6rem;
    }
    .btnUpgradeSection{
        font-size: 0.8rem;
    }
}


