/* Containers */
.navbar{
    position: fixed;
    width: 100vw;
    top: 0;
    transition: all 0.5s;
    z-index: 999;
}
.container{
    padding: 0.5rem 1rem;
    height: 100%;
    background-color: #101010;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
/* Location */
.locationsContainer{
    background-color: rgb(16, 16, 16, 0.7);
    border-radius: 5px;
    width: fit-content;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin: -0.5rem 0 0 4rem;
}
.location{
    display: flex;
    align-items: baseline;
}
.location p:nth-child(1){
    color: #fff;
    font-size: 1.4rem;
}
.location p:nth-child(2){
    color: var(--color-aqua);
    margin: 0 0 0 0.5rem;
    font-size: 1.6rem;
}
.changeLocation{
    margin: 0.5rem 0 0 0;
}
.changeLocationText{
    font-size: 1.1rem;
    color: rgb(168, 168, 250);
    cursor: pointer;
}
.changeLocationText:hover{
    color: var(--btn--del);
}
.locationListItem:hover{
    color: var(--text--light-green);
}
@media screen and (max-width: 1200px){
    .location p:nth-child(1){
        font-size: 1.3rem;
    }
    .location p:nth-child(2){
        font-size: 2rem;
    }
    .changeLocationText{
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 1024px){
    .location p:nth-child(1){
        font-size: 1.2rem;
    }
    .location p:nth-child(2){
        font-size: 1.7rem;
    }
    .changeLocationText{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 768px){
    .locationsContainer{
        margin: -0.5rem 0 0 1rem;
        padding: 0.8rem 1rem;
    }
    .location p:nth-child(1){
        font-size: 1.4rem;
    }
    .location p:nth-child(2){
        font-size: 1.8rem;
    }
    .changeLocationText{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 480px){
    .locationsContainer{
        margin: -0.5rem 0 0 0.5rem;
        padding: 0.8rem 1rem 0.4rem;
    }
    .location p:nth-child(1){
        font-size: 1.2rem;
    }
    .location p:nth-child(2){
        font-size: 1.6rem;
    }
    .changeLocationText{
        font-size: 1rem;
    }
    .locationListItem{
    font-size: 1.25rem;
    }
}
/* Text Links */
.pagelinks{
    display: flex;
    cursor: pointer;
    transition: all ease-out 0.3s;
    align-items: baseline;
    height: 100%;
    justify-content: flex-start;
    width: 40%;
}
.pagelink{
    color: #fff;
    margin: 2.5rem 3rem 0 1rem;
    font-size: 1.6rem;
}
.text{
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.contact{
    display: flex;
    transition: all 0.3s;
    margin-right: 7rem;
    margin-top: 1rem;
}

/* Icon Links */
.logo{
    cursor: pointer;
    width: 130px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 3rem 0 0;
}
.socials{
    margin: 1rem 0 -2.5rem 5rem;
    display: flex;
    align-items: center;
}
.social{
    margin: 0 1.5rem 1.5rem;
    cursor: pointer;
}
.insta, .facebook, .snap{
    fill: #fff;
    width: 32px;
    aspect-ratio: 1/1;
    height: unset;
}

/* Expand Icon */
.chevron{
    fill: #fff;
    width: 43px;
    height: unset;
    aspect-ratio: 1/1;
    cursor: pointer;
    display: none;
}

/* Basket Icon */
.basket{
    text-align: right;
    position: fixed;
    right: 4%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.basket_icon{
    fill:rgb(185, 184, 184) ;
    width: 35px;
    height: unset;
    aspect-ratio: 1/1;
    cursor: pointer;
}
.quantity{
    font-size: 1.8rem;
    color: rgb(153, 1, 1);
    font-weight: 600;
}

/* / */
@media screen and (max-width: 1350px){
    .logo{
        margin: 0 1rem;
        width: 150px;
    }
    .pagelink {
        font-size: 2.2rem;
    }
    .basket_icon{
        width: 30px;
    }
    .text{

    }
}
/* @media screen and (max-width: 1200px){
    .pagelinks{
        justify-content: space-evenly;
    }
    .pagelink{
        margin: 3.5rem 2rem 0 1rem;
        font-size: 2rem;
    }
    .texts{
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: flex-start;
        margin: 0 0 0 1rem;
    }
    .text{
        font-size: 1.5rem;
    }
    .container{
        padding: 0.5rem 1rem;
    }
    .contact{
        font-size: 1rem;
    }
} */
@media screen and (max-width: 1200px){
    .pagelink {
        font-size: 1.5rem;
        margin-right: 0.5rem;
    }
    .text{
        font-size: 2.1rem;
    }
    .socials{
        margin: 0 1.5rem -2rem;
       }
    .social{
        margin: 0 0.5rem;
    }
    .insta, .facebook, .snap{
        width: 35px;
    }
    .facebook{
        margin-right: -0.5rem;
    }
    .quantity{
        font-size: 1.5rem;
    }
    .contact{
        margin: 1rem 1rem 0.5rem;
    }
    .text{
        font-size: 1.5rem;
        margin: 0.3rem 0 0;
    }
    .logo{
        width: 140px;
        padding: 0;
        margin-left: -1.5rem;
    }
}
@media screen and (max-width: 768px){
    .container{
        flex-direction: column;
        padding: 0;
        align-items: flex-end;
        height: 100%;
    }
    .basket_icon{
        width: 22px;
    }
    .logo{
        top: 0.8rem;
        left: 3%;
        position: absolute;
        width: 120px;
        height: fit-content;
        margin: 0 0 0 1rem;
    }
    .pagelinks{
        flex-direction: column;
        align-items: flex-end;
        margin: 0 6.5rem;
    }
    .pagelink{
        margin: 1rem 0;
        font-size: 2.2rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }
    .text{
        font-size: 2.2rem;
    }
    .texts{
        align-items: flex-end;
        margin: 2rem 4rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }
    .contact{
        flex-direction: column;
        margin: -1rem 2.4rem 0 0;
    }
    .chevron{
        display: unset;
    }
    .chevron_container{
        display: flex;
        margin: 1.5rem 3rem 1.5rem 0;
    }
    .socials{
        margin: 0.5rem 5rem 0 0;
    }
    .social{
        margin: 0 2rem 0 0
        
        
    }
    .insta, .facebook, .snap{
    width: 35px;
    }
}
@media screen and (max-width: 480px){
    .insta, .facebook, .snap{
        width: 25px;
        margin: 0 0.3rem 0;
        }
    .facebook{
        margin-right: -0.1rem;
    }
    .logo{
       width: 110px;
       height: unset;
       aspect-ratio: 2.1/1;
        left: 1%;
        top: 0.6rem;
    }
    .chevron{
        width: 35px;
        height: unset;
        aspect-ratio: 1/1;
    }
    .basket{
        right: 4%;
    }
    .basket_icon{
        width: 20px;
    }
    .quantity{
        font-size: 1.4rem;
    }
    .pagelink, .text{
        font-size: 1.5rem;
    }
    .socials{
        margin-right: 2rem;
    }
    .social{
        margin-right: 0.8rem;
    }
}
@media screen and (max-width: 380px){
    .insta, .snap{
        width: 25px;
        margin: 0 0.2rem 0;
        }
        .facebook{
            width: 27px;
        }
        .social{
            margin-right: 0.4rem;
        }
        .socials{
            margin-right: 1.3rem;
        }
        .pagelinks{
            margin: 0 2rem 0;
        }
        .contact{
            margin: -10px -20px 0;
        }
}

/* Hover */

.facebook:hover, .insta:hover, .snap:hover, .pagelink:hover{
    transform: scale(1.02);
    text-shadow: 0 0 2px #fff;
}
.basket:hover{
    transform: scale(1.1);
}
