.container{
    margin: 11rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hdr{
    padding: 1rem 3rem;
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 450;
}
.text{
    font-size: 1.5rem;
    padding: 1rem;
}